/* journal.css */

body {
    overflow-y: scroll; /* 記事ページはスクロール可能に */
}

.journal-header {
    padding: 40px 5vw;
    text-align: left;
}

.back-link {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--font-family);
    transition: color 0.3s;
}
.back-link:hover {
    color: var(--accent-color-1);
}

.journal-main {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 5vw 10vh;
}

.journal-article {
    margin-bottom: 15vh;
}

.journal-article header {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.journal-article h2 {
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 10px;
}
.journal-article time {
    color: #888888;
}

.article-content {
    font-size: 1.1rem;
    line-height: 2.2;
}

.article-content p {
    margin-bottom: 2em;
}

.article-content figure {
    margin: 3em 0;
}
.article-content img {
    max-width: 100%;
    height: auto;
    display: block;
}
.article-content figcaption {
    font-size: 0.9rem;
    color: #888888;
    margin-top: 10px;
    text-align: center;
}

.hanaran-commentary {
    margin-top: 5em;
    padding: 30px;
    background-color: rgba(0,0,0,0.02);
    border-left: 2px solid var(--accent-color-2);
}
.hanaran-commentary h4 {
    font-size: 1.2rem;
    color: var(--accent-color-2);
    margin-bottom: 20px;
}
.hanaran-commentary p {
    font-size: 1rem;
    line-height: 2;
    color: #555555;
}